.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  color: #fff;
  background-color: transparent;
}
.ant-select-arrow .anticon {
  color: #fff;
}
.ant-select-arrow {
  top: 1.2rem;
}
.full-page {
  width: 100%;
  height: 100%;
  background: url("~@/images/bg.png") no-repeat 100% 100%;
  background-size: 100% 100%;
  .item1{
    width: 100vw;
    height: 220vh;
    background: linear-gradient(0deg, rgba(1,0,4,0.08), rgba(9,0,32,0.08), rgba(9,0,32,0.08));
    .index-header{
      display: flex;
      justify-content: space-between;
      padding: 2.407407vh 3.59375vw;
      .logo {
        height: 5.462963vh;
        width: 15.552083vw;
        background: url("~@/images/logo.png") no-repeat 100% 100%;
        background-size:15.552083vw 5.462963vh;
      }
      .nav {
        display: flex;
        width: 32.5vw;
        text-align: center;
        height: 2.222222vh;
        line-height: 5.462963vh;
        font-size: 1.25vw;
        font-family: Arial;
        font-weight: 400;
        color: #FFFFFF;
        div{
          flex: 1;
        }
      }
      .btn-group {
        display: flex;
        line-height: 6.481481vh;
        .btn {
          background: #3E1BDB;
          border: 1px #3E1BDB solid;
          margin-right: 3.645833vw;
        }
        .sele {
          margin-top: 0.37037vh;
          background: #090020;
          width: 7.96875vw;
        }
      }
    }
    .index-content {
      position: relative;
      margin-top: 8.796296vh;
      margin-left: 13.697917vw;
      margin-right: 16.614583vw;
      text-align: center;
      background: url("~@/images/bg_2.png") no-repeat center;
      background-size: contain;
      height:107.5269vh;
      .title {
        position: relative;
        // top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 52.96875vw;
        height: 23.425926vh;
        font-size: 3.75vw;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 4.583333vw;
      }
      .img1 {
        position: absolute;
        width: 9.322917vw;
        height: 17.777778vh;
        top: 34.722222vh;
        left: 41.458333vw;
        background: url("~@/images/shape1.png") no-repeat 100% 100%;
        background-size: 9.322917vw 17.777778vh;
      }
      .img2 {
        position: absolute;
        width: 9.322917vw;
        height: 17.777778vh;
        top: 42.407407vh;
        left: -4.427083vw;
        background: url("~@/images/shape2.png") no-repeat 100% 100%;
        background-size: 9.322917vw 17.777778vh;
      }
      .img3 {
        position: absolute;
        width: 14.375vw;
        height: 16.666667vh;
        top: 48.518519vh;
        left: 58.177083vw;
        background: url("~@/images/shape3.png") no-repeat 100% 100%;
        background-size: 14.375vw 16.666667vh;
      }
      .img4 {
        position: absolute;
        width: 9.0625vw;
        height: 26.666667vh;
        top: 55.277778vh;
        left: 21.614583vw;
        background: url("~@/images/shape4.png") no-repeat 100% 100%;
        background-size: 9.0625vw 26.666667vh;
      }
      .img5 {
        position: absolute;
        width: 11.979167vw;
        height: 18.425926vh;
        top: 78.981481vh;
        left: 38.489583vw;
        background: url("~@/images/shape5.png") no-repeat 100% 100%;
        background-size: 11.979167vw 18.425926vh;
      }
    }
    .support-currency {
      position: relative;
      // top: 7.888889vh;
      text-align: center;
      .title {
        position: relative;
        width: 38.072917vw;
        height: 7.222222vh;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3.958333vw;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #FFFFFF;
      } 
      .bottom-line {
        position: relative;
        top: 7.8vh;
        height: 1px;
        margin-left: 4.53125vw;
        margin-right: 4.53125vw;
        border-bottom: 1px solid #B3B3B3;
      }
      .right-line {
        position: absolute;
        top: 18vh;
        height: 55vh;
        border-right: 1px solid #B3B3B3;
      }
      .line-order1 {
        left: 25vw;
      }
      .line-order2 {
        left: 50vw;
      }
      .line-order3 {
        left: 75vw;
      }
      .icon-group {
        margin-left: 10.520833vw;
        margin-right: 9.270833vw;
        margin-top: 12.962963vh;
        display: flex;
        justify-content: space-between;
        .icon-item {
          width: 7.291667vw;
          height: auto;
          .icon1 {
            width: 7.291667vw;
            height: 12.962963vh;
            background: url("~@/images/icon1.png") no-repeat 100% 100%;
            background-size: 7.291667vw 12.962963vh;
          }
          .icon2 {
            width: 7.291667vw;
            height: 12.962963vh;
            background: url("~@/images/icon2.png") no-repeat 100% 100%;
            background-size: 7.291667vw 12.962963vh;
          }
          .icon3 {
            width: 7.291667vw;
            height: 12.962963vh;
            background: url("~@/images/icon3.png") no-repeat 100% 100%;
            background-size: 7.291667vw 12.962963vh;
          }
          .icon4 {
            width: 7.291667vw;
            height: 12.962963vh;
            background: url("~@/images/icon4.png") no-repeat 100% 100%;
            background-size: 7.291667vw 12.962963vh;
          }
          .icon5 {
            width: 7.291667vw;
            height: 12.962963vh;
            background: url("~@/images/icon5.png") no-repeat 100% 100%;
            background-size: 100% auto;
          }
          .icon6 {
            width: 7.291667vw;
            height: 12.962963vh;
            background: url("~@/images/icon6.png") no-repeat 100% 100%;
            background-size: 7.291667vw 12.962963vh;
          }
          .icon7 {
            width: 7.291667vw;
            height: 12.962963vh;
            background: url("~@/images/icon7.png") no-repeat 100% 100%;
            background-size: 7.291667vw 12.962963vh;
          }
          .icon8 {
            width: 7.291667vw;
            height: 12.962963vh;
            background: url("~@/images/icon8.png") no-repeat 100% 100%;
            background-size: 7.291667vw 12.962963vh;
          }
          .text {
            width: 6.822917vw;
            height: 3.240741vh;
            text-align: center;
            font-size: 2.395833vw;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #FFFFFF;
          }
        }
      }
    }
  }
  .item2 {
    // background: #9873FF;
    // opacity: 0.08;
    background: rgba(152,115,255,0.08);
    
    .other{
      display: flex;
      padding: 11.666667vh 0;
      .icon-other {
        margin-left: 10.520833vw;
        margin-right: 9.270833vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .icon-item {
          height: 8.333333vh;
          width: auto;
          line-height: 8.333333vh;
          margin: 1.851852vh 1.041667vw;
          display: flex;
          .icon9 {
            height: 8.333333vh;
            width: 4.6875vw;
            background: url("~@/images/icon9.png") no-repeat 100% 100%;
            background-size: 8.333333vh 4.6875vw;
          }
          .icon10 {
            height: 8.333333vh;
            width: 4.6875vw;
            background: url("~@/images/icon10.png") no-repeat 100% 100%;
            background-size: 8.333333vh 4.6875vw;
          }
          .icon11 {
            height: 8.333333vh;
            width: 4.6875vw;
            background: url("~@/images/icon11.png") no-repeat 100% 100%;
            background-size: 8.333333vh 4.6875vw;
          }
          .icon12 {
            height: 8.333333vh;
            width: 4.6875vw;
            background: url("~@/images/icon12.png") no-repeat 100% 100%;
            background-size: 8.333333vh 4.6875vw;
          }
          .icon13 {
            height: 8.333333vh;
            width: 4.6875vw;
            background: url("~@/images/icon13.png") no-repeat 100% 100%;
            background-size: 8.333333vh 4.6875vw;
          }
          .icon14 {
            height: 8.333333vh;
            width: 4.6875vw;
            background: url("~@/images/icon14.png") no-repeat 100% 100%;
            background-size: 8.333333vh 4.6875vw;
          }
          .icon15 {
            height: 8.333333vh;
            width: 4.6875vw;
            background: url("~@/images/icon15.png") no-repeat 100% 100%;
            background-size: 8.333333vh 4.6875vw;
          }
          .icon16 {
            height: 8.333333vh;
            width: 4.6875vw;
            background: url("~@/images/icon16.png") no-repeat 100% 100%;
            background-size: 8.333333vh 4.6875vw;
          }
          .icon17 {
            height: 8.333333vh;
            width: 4.6875vw;
            background: url("~@/images/icon17.png") no-repeat 100% 100%;
            background-size: 8.333333vh 4.6875vw;
          }
          .icon18 {
            height: 8.333333vh;
            width: 4.6875vw;
            background: url("~@/images/icon18.png") no-repeat 100% 100%;
            background-size: 8.333333vh 4.6875vw;
          }
          .text {
            text-align: left;
            line-height: 4.333333vh;
            margin-left: 2.041667vw;
            .middle {
              font-size: 2.395833vw;
              font-family: Microsoft YaHei;
              font-weight: 400;
              color: #FFFFFF;
            }
            .small {
              font-size: 1vw;
              font-family: Microsoft YaHei;
              font-weight: 400;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
  .item3 {
    padding: 11.666667vh 0;
    background: linear-gradient(0deg, rgba(1,0,4,0.08), rgba(9,0,32,0.08), rgba(9,0,32,0.08));
    .title {
      position: relative;
      width: 38.072917vw;
      height: 7.222222vh;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 3.958333vw;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #FFFFFF;
    }
    .scroll-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      height: 37.037037vh;
      padding-left: 10.520833vw;
      padding-right: 9.270833vw;
      margin-top: 10.462963vh;
      .left-bar {
        flex-shrink: 1;
        width: 3.645833vw;
        height: 6.481481vh;
        margin-right: 2.041667vw;
        background: url("~@/images/left-bar.png") no-repeat center center;
        background-size: 3.645833vw 6.481481vh;
      }
      .right-bar {
        flex-shrink: 1;
        width: 3.645833vw;
        height: 6.481481vh;
        margin-left: 2.041667vw;
        background: url("~@/images/left-bar.png") no-repeat center center;
        background-size: 3.645833vw 6.481481vh;
      }
      .desc {
        .title {
          font-size: 2.34375vw;
          font-family: PingFang SC;
          font-weight: 800;
          color: #FFFFFF;
          line-height: 5.555556vh;          
        }
        .sub-title {
          font-size: 1.25vw;
          font-family: PingFang SC;
          font-weight: 800;
          color: #C1C1C1;
          line-height: 5.555556vh;          
        }
        .btn {
          margin-top: 3.851852vh;
        }
      }
      .code-img {
        width: 31.041667vw;
        height: 32.87037vh;
        background: url("~@/images/code.png") no-repeat center center;
        background-size: 31.041667vw 32.87037vh;
      }

    }
  }
  .item4 {
    background: linear-gradient(0deg, rgba(1,0,4,0.08), rgba(9,0,32,0.08), rgba(9,0,32,0.08));
    padding: 11.666667vh 0;
    .partner {
      text-align: center;
      .title {
        position: relative;
        width: 38.072917vw;
        height: 7.222222vh;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 9.259259vh;
        font-size: 3.958333vw;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #FFFFFF;
      }
      .logo-group {
        display: flex;
        justify-content: space-between;
        padding-top: 4.444444vh;
        // padding-bottom: 4.444444vh;
        padding-left: 10.520833vw;
        padding-right: 9.270833vw;
        .logo-item {
          width: 26.302083vw;
          height: auto;
          .logo1 {
            width: 25vw;
            height: 15.277778vh;
            background: rgba(152,115,255, 0.11) url("~@/images/logo1.png") no-repeat center center;
            background-size: 25vw 15.277778vh;
          }
          .logo2 {
            width: 25vw;
            height: 15.277778vh;
            background: rgba(152,115,255, 0.11) url("~@/images/logo2.png") no-repeat center center;
            background-size: 25vw 15.277778vh;
          }
          .logo3 {
            width: 25vw;
            height: 15.277778vh;
            background: rgba(152,115,255, 0.11) url("~@/images/logo3.png") no-repeat center center;
            background-size: 25vw 15.277778vh;
          }
          .logo4 {
            width: 25vw;
            height: 15.277778vh;
            background: rgba(152,115,255, 0.11) url("~@/images/logo4.png") no-repeat center center;
            background-size: 25vw 15.277778vh;
          }
          .logo5 {
            width: 25vw;
            height: 15.277778vh;
            background: rgba(152,115,255, 0.11) url("~@/images/logo5.png") no-repeat center center;
            background-size: 25vw 15.277778vh;
          }
          .logo6 {
            width: 25vw;
            height: 15.277778vh;
            background: rgba(152,115,255, 0.11) url("~@/images/logo6.png") no-repeat center center;
            background-size: 25vw 15.277778vh;
          }
        }
      }
    }
  }
  .index-footer {
    padding: 14.351852vh 4.322917vw;
    background: linear-gradient(0deg, #010004, #090020, #090020);
    .base-info {
      display: flex;
      justify-content: space-between;
      .logo{
        width: 13.385417vw;
        height: 4.166667vh;
        background: rgba(152,115,255, 0.11) url("~@/images/logo.png") no-repeat 100% 100%;
        background-size: 13.385417vw 4.166667vh;
        margin-bottom: 1.925926vh;
      }
      .title {
        font-size: 1.25vw;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 3.407407vh;
      }
      .text{
        font-size: 1.25vw;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 3.407407vh;
      }
      .btn-group {
        display: flex;
        justify-content: space-between;
        margin-top: 1.925926vh;
      }
    }
    .trademark {
      height: 2.407407vh;
      font-size: 1.25vw;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 2.222222vh;
    }
  }
}

.banner {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 100;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #3e1bdb;
}